<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% include 'app/base/stylesheets.html.twig' %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            {% include 'app/base/top-navbar.html.twig' %}
            {% include 'app/base/main-menu.html.twig' %}

            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        {% block header %}{% endblock %}
                    </div>
                </section>
                <section class="content">
                    <div class="container-fluid">
                        {% block body %}Empty :({% endblock %}
                    </div>
                </section>
            </div>

            {% include 'app/base/right-sidebar.html.twig' %}
            {% include 'app/base/footer.html.twig' %}
            <div id="sidebar-overlay"></div>
        </div>

        {% include 'app/base/javascripts.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
