<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="{{ path('dashboard') }}" class="brand-link">
        <img src="{{ asset('img/AdminLTELogo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">IDLE</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{{ path('dashboard') }}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Homepage</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('planning_list') }}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Plannings</p>
                    </a>
                </li>
                {% if is_granted('ROLE_MANAGER') %}
                    <li class="nav-item">
                        <a href="{{ path('planning_create') }}" class="nav-link" data-toggle="confirmation" data-title="Create new planning?">
                            <i class="nav-icon fas fa-th"></i>
                            <p>New planning</p>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_MANAGER') %}
                    <li class="nav-item">
                        <a href="{{ path('user_list') }}" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>Users</p>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ path('logout') }}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>