{% extends 'app/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                {% if block('card_header') is not empty %}
                <div class="card-header">
                    {% block card_header %}{% endblock %}
                </div>
                {% endif %}
                <div class="card-body">
                    {% block card_body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
