{% extends 'app/layouts/card.html.twig' %}

{% block javascripts %}
    <script>
        jQuery(document).ready(function() {
            jQuery('.datatable-init').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "responsive": true,
            });
        });
    </script>
{% endblock %}