{% extends 'app/layouts/card.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block card_header %}
    Change user password
{% endblock %}

{% block card_body %}
    {{ form_start(form) }}
    {{ form_row(form.password) }}
    {{ form_row(form.passwordConfirm) }}
    <button type="submit">Update</button>
    {{ form_end(form)}}
{% endblock %}
