{% extends 'app/layouts/card.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block card_header %}
    Create new user
{% endblock %}

{% block card_body %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.roles) }}
    {{ form_widget(form.password) }}
    {{ form_row(form.submit) }}
    {{ form_end(form)}}
{% endblock %}
