{% extends 'app/layouts/datatable.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block card_header %}
    <h3>User list</h3>
    <a href="{{ path('user_create') }}" class="btn btn-sm btn-success">Create</a>
{% endblock %}

{% block card_body %}
    <table id="" class="table table-bordered table-hover datatable-init">
        <thead>
        <tr>
            <th style="width: auto;">Id</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.userIdentifier }}</td>
            <td>{{ user.roles|join(', ') }}</td>
            <td>
                <div class="btn-group">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('user_delete', {id: user.id}) }}" class="btn btn-xs btn-danger" data-toggle="confirmation" data-title="Are you sure you want to delete this user?">&nbsp;X&nbsp;</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('user_edit', {id: user.id}) }}" class="btn btn-xs btn-warning">&nbsp;E&nbsp;</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('user_change_password', {id: user.id}) }}" class="btn btn-xs btn-warning">&nbsp;P&nbsp;</a>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}